
/* Font used for all of app */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Source-Sans-Pro-regular.eot');
  src: url('fonts/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('Source-Sans-Pro-regular'),
       url('fonts/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('fonts/Source-Sans-Pro-regular.woff') format('woff'),
       url('fonts/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('fonts/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

body * {
    box-sizing: border-box;
}
/* Main Styles */
body {
    background: #333;
    color: #eee;
    background-image: url(img/backgrounds/dark/escheresque_ste.png);
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro';
}
table {
    border-collapse: collapse;
}

h1 {
    color: rgb(254, 254, 254);
    padding: 10px 30px;
    background: rgb(222, 90, 30);
    margin: 0px;
    text-align: center;
}

#main_container {
    margin: 10px;
    font-size: 12px;
}

.block {
    margin: 0 0 10px;
}
.block .head {
    background: #ccc;
    padding: 3px 5px 0;
    color: #666;
    font-weight: bold;
}
.block .body {
    background: #666;
    padding: 5px;
    border: 3px solid #ccc;
}

.hide {
    display: none;
}

.gen_btn {
    background: rgb(222, 90, 30);
    padding: 3px 10px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    position: relative;
    top: -3px;
    left: -3px;
    cursor: pointer;
    color: #eee;
}
.gen_btn:hover {
    background: rgb(239, 100, 45);
}
.gen_btn:active {
    box-shadow: none;
    top: 0;
    left: 0;
}

/* Log Output */
#log_output .body {
    height: 50px;
    overflow: auto;
}

#log_output .body p {
    margin: 0;
    padding: 0;
}
#log_output .body p.info {
    color: #ccc;
}
#log_output .body p.success {
    color: #00cc00;
}
#log_output .body p.fail {
    color: #cc0000;
}

/* Sections */

#sections {
    margin-bottom: 10px;
    overflow: auto;
}
    #sections .body {
        overflow: auto;
    }
    #sections .body > .gen_btn {
        margin: 10px auto;
        width: 500px;
    }
    #sections .section {
        margin: 10px 10px 0;
        width: calc(100% - 20px);
        overflow: auto;
    }
        #sections .section .color {
            padding: 5px 10px;
            overflow: auto;
            color: #111;
            float: left;
            width: calc(100% - 300px);
        }
        #sections .section .choose {
            float: left;
        }
        #sections .section .title {
            float: left;
            width: 100px;
        }
        #sections .section .chord_prog {
            float: left;
        }
        #sections .section .gen_btn {
            float: right;
            width: 250px;
        }
#sections .section.verse .color {
    background-color: #e0c6ea;
}
#sections .section.chorus .color {
    background-color: #c8e8a6;
}
#sections .section.breakdown .color {
    background-color: #fcefad;
}
#sections .section.pre_chorus .color {
    background-color: #92b800;
}
#sections .section.intro .color {
    background-color: #f1a2a2;
}
#sections .section.outro .color {
    background-color: #40c8cc;
}
#sections .section.verse_alt .color {
    background-color: #b0cfe0;
}
#sections .section.chorus_alt .color {
    background-color: #ffb935;
}

/* Song Section */
#song_section {
    background: rgba(0,0,0,0.3);
    overflow: auto;
}
#song_section .track_grid {
    width: 100%;
}
#song_section .grid {
    width: 100%;
}
    #song_section .fill {
        background: #666;
    }
    #song_section .grid tr td {
        border-top: 3px solid #ccc;
    }
    #song_section .grid tr:first-child td {
        border-top: none;
    }
    #song_section .grid td {
        border-left: 1px solid #111;
    }
    #song_section .grid td:first-child {
        border-left: none;
    }

#song_section .track {
    background: rgb(222, 90, 30);
    padding: 0 10px 10px;
    width: 20%;
}
    #song_section .track .title {
        font-size: 20px;
        padding: 4px;
    }
#song_section .add_track {
    background: #444;
    color: #eee;
    font-size: 25px;
    text-align: center;
}
    #song_section .add_track:hover {
        background: #666;
        cursor: pointer;
    }